[Unit]
Description=Homework Scraper Celery Worker
After=network.target redis-server.service

[Service]
Type=simple
User=dovydukas
Group=dovydukas
WorkingDirectory=/home/dovydukas/homework-scraper-backend
Environment="PATH=/home/dovydukas/homework-scraper-backend/venv/bin"
ExecStart=/home/dovydukas/homework-scraper-backend/venv/bin/celery -A homework_scraper worker -l info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
